html {
  scroll-behavior: smooth;
}
body {
  color: #404145;
  font-size:14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  background-color:transparent !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
button:focus, button:active, button:focus:active {
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
}
a, button, a:hover, button:hover {
  transition: 0.5s ;
  text-decoration: none;
  outline: none;
  -moz-outline:none;
}
/*
.btn-info.focus, .btn-info:focus {
  box-shadow: none !important;
}
.btn-info {
      background-color: #404145 !important;
}
.btn-info:hover, .btn-success:hover, .btn:hover {
      background: #404145 !important;
}
.btn-info:active, .btn-success:active, .btn:active {
      background: #404145 !important;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
      background: #404145 !important;
      border-color: #404145 !important;
}
*/
ul, ol {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
textarea:focus, input:focus, button:focus {
  outline: none;
}
*:focus {
  outline: none;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
/*HEADER*/
header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
transition: 0.5s;
  z-index: 10;
}
.header-top{
  padding: 11px 15px;
transition: 0.5s;
}
.navigation .navbar {
  padding: 0;
}
.navbar-brand{
  padding: 0;
  margin: 0;
  max-width: 80px;
  width: 100%;
}
.navigation .navbar-nav .nav-item {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .navbar-nav .nav-item .nav-link{
  color: #1a1515;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0;
}
.navigation .navbar-nav .nav-item .nav-link:hover {
color: #bc1f30;
}
.navigation .navbar-nav .nav-item .nav-link span {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.navigation .navbar-nav .nav-item .nav-link span svg{
  fill: #1a1515;
}
.navigation .navbar-nav .nav-item .nav-link.join-btn {
  border: 1px solid #1a1515;
  font-weight: 400;
  padding: 3px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.navigation .navbar-nav .nav-item .nav-link.join-btn:hover {
border-color: #bc1f30;
color: #bc1f30;
}
.header-form{
  margin-left: 15px;
  display: none;
z-index: 2;
width: 50%;
}
.header-form form{
  display: flex;
  align-items: center;
  position: relative;
}
.header-form form .search-bar-icon{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  display: flex;
  align-items: center;
  left: 8px;
}
.header-form form .search-bar-icon svg{
  fill: #1a1515
}
.header-form form .form-control{
  border: 1px solid #dadbdd;
  border-radius: 3px 0 0 3px;
  font-size: 15px;
  padding: 7px 7px 7px 28px;
  border-right: 0;
  color: #1a1515;
  height: 32px;
}
.header-form .btn-default{
  border-radius: 0 3px 3px 0;
  width: 117px;
  height: 33px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  background-color: #bc1f30;
  color: #fff;
  justify-content: center;
}
.header-bottom {
  background-color: #fff;
  border-top: 1px solid #e4e5e7;
  transform: rotateX(90deg);
transition: 0.3s;
}
.header-bottom-inner ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bottom-inner ul li{
  padding: 0 15px;
}
.header-bottom-inner ul li a{
  color: #1a1515;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 13px;
  line-height: 24px;

}
.header-bottom-inner ul li a:hover:after{
  opacity: 1;
}
.header-bottom-inner ul li a:after{
  position: absolute;
  content: "";
  left: 0;
  bottom: 1px;
  width: 100%;
  background-color: #1a1515;
  height: 2px;
  opacity: 0;
  
}
.header-bottom-inner ul li a span{
  border: 1px solid #bc1f30;
  color: #bc1f30;
  margin-left: 6px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 17px;
  text-transform: uppercase;
}
/*banner_wrepp*/
#banner_wrepp{
  position: relative;
}
#banner_wrepp .carousel-item{
  height: 680px;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
#banner_wrepp .carousel-item .text-inner{
  position: absolute;
  bottom: 0;
  right: 0;
}
#banner_wrepp .carousel-item .text-inner p{
  color: #fff;
  display: inline-block;
  padding: 32px;
  font-size: 16px;
  font-weight: 400; 
}
.banner_content{
  position: absolute;
  z-index: 1;
  top: 50%;
  left:8%;
  transform: translate(0, -50%);
  max-width: 680px;
  width: 100%; 
}
.banner_content h1{
  padding-bottom: 24px;
  font-size: 35px;
  line-height: 45px;
  color: #1a1515;
  font-weight: 700;
}
.banner_content h1 i{
  font-weight: 500;
}
.banner_content form{
  display: flex;
  position: relative;
}
.banner_content form span.search-bar-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0,-50%);
  display: flex;
  align-items: center;
}
.banner_content form span.search-bar-icon svg{
  fill: #95979d;
}
.banner_content form .form-control{
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  height: 48px; 
  border: 1px solid #95979d;
  padding: 7px 7px 7px 47px;

}
.banner_content form .btn-default{
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid transparent;
  background-color: #bc1f30;
  height: 48px;
  color: #fff;
  font-weight: bold;
}
.tag{
  display: flex;
  align-items: center;
  padding: 24px 0 0 0;
}
.tag span{
  font-size: 14px;
  line-height: 27px;
  font-weight: 600;
  color: #1a1515;
  display: inline-block;
}
.tag ul{
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.tag ul li{
  margin-right: 12px;
}
.tag ul li a{
  padding: 1px 12px 0;
  border: 1px solid #1a1515;
  border-radius: 40px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1515;
}
.tag ul li a:hover{
  background-color: #bc1f30;
  color: #fff;
border-color: #bc1f30;
}
/*trusted_wreppp*/
#trusted_wrepp {
  background-color: #fafafa;
  padding: 20px 0;
}
#trusted_wrepp .media{
  align-items: center;
  justify-content: center;
}
#trusted_wrepp .media span{
  padding-right: 20px;
  color: #b5b6ba;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
}
#trusted_wrepp .media ul{
  display: flex;
  padding-left: 14px;
  align-items: center;
  justify-content: center;
}
#trusted_wrepp .media ul li{
  margin-right: 60px;
}
#trusted_wrepp .media ul li:last-child{
  margin-right: 0;
}
/*services_wrepp*/
#inspired_wrepp.services_wrepp{
  background-color: #fff;
}
.services_wrepp .text-box {
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px;
}
.services_wrepp .text-box span{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: block;
  color: #fff;
}
.services_wrepp .text-box h4{
  color: #fff;
  font-size: 24px;
  line-height: 130%;
  padding: 0;
  font-weight: 700;
}
/* fingertips_wrepp*/
#fingertips_wrepp{
  background-color: #f1fdf7;
  padding: 95px 20px;
}
#fingertips_wrepp .text-box{
  width: 100%;
}
#fingertips_wrepp .text-box h2{
  font-size: 32px;
  line-height: 120%;
  font-weight: bold;
  color: #404145;
  padding-bottom: 24px;
}
#fingertips_wrepp .text-inner{
  margin-bottom: 24px;
}
#fingertips_wrepp .text-inner:last-child{
  margin-bottom: 0;
}
#fingertips_wrepp .text-inner h3{
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: 700;
  color: #404145;
  display: flex;
  align-items: center;
}
#fingertips_wrepp .text-inner span{
  margin-right: 10px;
  max-width: 24px;
  width: 100%;
}
#fingertips_wrepp .text-inner span svg{
  fill: rgb(122, 125, 133);
}
#fingertips_wrepp .text-inner p{
  font-size: 18px;
  line-height: 26px;
  color: #62646a;
  font-weight: 400;
}
#fingertips_wrepp .image-holder{
  position: relative;
  max-width: 670px;
  width: 100%;
  margin-left: auto;
  margin-top: 50px;
}
#fingertips_wrepp .image-holder a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#fingertips_wrepp .image-holder a img{
  max-width: 80px;
  width: 100%;
}
/*Explore Wrepp*/
#explore_wrepp {
  padding: 80px 0px;
  text-align: center;
}
#explore_wrepp h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #404145;
  padding-bottom: 24px;
  margin-bottom: 40px;
}
#explore_wrepp img {
  width: 48px;
transition: 0.5s;
}
#explore_wrepp span {
  display: block;
  position: relative;
  margin: 10px 0px 40px;
}
#explore_wrepp a {
  color: #222325;
  font-size: 16px;
  transition: 0.5s;
display: block;
  text-align: center;
}
#explore_wrepp a:after {
  content: "";
  position: absolute;
  transition: 0.5s;
  top: 45px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
}
#explore_wrepp a:hover::after {
  content: "";
  width: 60px;
  padding: 0 20px 8px;
  border-color: #bc1f30;
}
#explore_wrepp a:hover img {
transform: translateY(-10px);
transition: 0.5s;
}
/*solution Wrepp*/
#solution_wrepp {
  background: #bc1f30;
  padding: 80px 0px 0px;
}
#solution_wrepp h1 {
  font-size: 32px;
  padding-bottom: 24px;
  color: #fff;
  font-weight: 700;
}
#solution_wrepp p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 32px;
  line-height: 26px;
}
#solution_wrepp ul {
  margin-bottom: 48px;
}
#solution_wrepp ul li {
  font-size: 18px;
  color: #fff;
  padding-bottom: 10px;
}
#solution_wrepp .btn-success {
  background-color: #1dbf73;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
/*Testimonial Wrepp*/
#testimonial_wrepp {
  padding: 60px 15px;
  background: #fff;
}
#testimonial_wrepp .text-content {
}
#testimonial_wrepp .text-content h5 {
  font-weight: 400;
  color: #7a7d85;
  padding-bottom: 16px;
}
#testimonial_wrepp .text-content h5 img {
  display: inline-block;
  width: auto;
  max-width: 100%;
}
#testimonial_wrepp .text-content .testimonial-logo {
  border-left: 1px solid #c5c6c9;
  height: 36px;
  margin-left: 16px;
}
#testimonial_wrepp .text-content blockquote {
  font-size: 30px;
  line-height: 44px;
}
#testimonial_wrepp .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  right: -20px;
}
#testimonial_wrepp .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  left: -20px;
}
#testimonial_wrepp .owl-next span {
  font-size: 28px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}
#testimonial_wrepp .owl-prev span {
  font-size: 28px;
  width: 40px;
  line-height:40px;
  border-radius: 50%;
  display: block;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}
.incredible_box {
  background: #4a73e8 url(../images/bg-00.png) repeat center center;
background-attachment: fixed;
  position: relative;
  padding: 92px 40px;
  margin-top: 60px;
}
.incredible_box h1 {
  margin-bottom: 15px;
  padding-bottom: 0;
  font-size: 34px;
  line-height: 39px;
  color: #fff;
}
.incredible_box p {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.incredible_box .btn-info {
  color: #4a73e8;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: #fff;
}
.incredible_box .icridimg {
  position: absolute;
  right: 0;
  top: 0;
}
/*inspired Wrepp*/
#inspired_wrepp {
  padding: 60px 15px;
  background: #f5f5f5;
}
#inspired_wrepp .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 12px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#inspired_wrepp .project-info .seller_image img {
  height: 40px;
  width: 48px;
  border-radius: 50%;
}
#inspired_wrepp .position-relative {
transition: 0.5s;
}
#inspired_wrepp .position-relative img {
transition: 0.5s;
}
#inspired_wrepp .position-relative:hover img {
transform: scale(1.1);
transition: 0.5s;
}
#inspired_wrepp .position-relative .line1, #inspired_wrepp .position-relative .line2, #inspired_wrepp .position-relative .line3, #inspired_wrepp .position-relative .line4 {
transition: 0.5s;
opacity: 0
}
#inspired_wrepp .position-relative:hover .line1 {
opacity: 1;
}
#inspired_wrepp .position-relative:hover .line2 {
opacity: 1;
}
#inspired_wrepp .position-relative:hover .line3 {
opacity: 1;
}
#inspired_wrepp .position-relative:hover .line4 {
opacity: 1;
}
#inspired_wrepp .position-relative .line1 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 5px;
background: linear-gradient(to right, transparent, #a5d5e5);
animation: animate1 2s linear infinite;
}
@keyframes animate1 {
0% {
  transform: translateX(-100%);
}
100% {
  transform: translateX(100%);
}
}
#inspired_wrepp .position-relative .line2 {
position: absolute;
right: 0;
top: 0;
width: 5px;
height: 100%;
background: linear-gradient(to bottom, transparent, #a5d5e5);
animation: animate2 2s linear infinite;
animation-delay: 1s;
}
@keyframes animate2 {
0% {
  transform: translateY(-100%);
}
100% {
  transform: translateY(100%);
}
}
#inspired_wrepp .position-relative .line3 {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 5px;
background: linear-gradient(to left, transparent, #a5d5e5);
animation: animate3 2s linear infinite;
}
@keyframes animate3 {
0% { 
  transform: translateX(100%);
}
100% {
  transform: translateX(-100%);
}
}
#inspired_wrepp .position-relative .line4 {
position: absolute;
left: 0;
top: 0;
width: 5px;
height: 100%;
background: linear-gradient(to top, transparent, #a5d5e5);
animation: animate4 2s linear infinite;
animation-delay: 1s;
}
@keyframes animate4 {
0% {
  transform: translateY(100%);
}
100% {
  transform: translateY(-100%);
}
}
#inspired_wrepp .project-info .gig-info {
  font-size: 14px;
  line-height: 21px;
  padding-left: 12px;
  width: 100%;
}
#inspired_wrepp .project-info .gig-info b {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: calc(100% - 12px);
}
#inspired_wrepp .project-info .gig-info b a {
  color: #000;
}
#inspired_wrepp .project-info .gig-info a {
  color: #95979d;
}
#inspired_wrepp .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  right: -20px;
}
#inspired_wrepp .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  left: -20px;
}
#inspired_wrepp .owl-next span {
  font-size: 28px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}
#inspired_wrepp .owl-prev span {
  font-size: 28px;
  width: 40px;
  line-height:40px;
  border-radius: 50%;
  display: block;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}
/*Guides Wrepp*/
#guides_wrepp {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.guides_heading h1 {
  font-size: 32px;
  font-weight: 700;
  color: #404145;
}
.guides_heading h1 span {
  color: #4a73e8;
  font-weight: normal;
  float: right;
  margin-top: 10px;
  font-size: 16px;
}
.guidesbox {
  padding: 40px 0px;
}
.guidesbox h2 {
  font-size: 18px;
  font-weight: 700;
  color: #404145;	
}
.guidesbox p {
  font-size: 16px;
  font-weight: 400;
  color: #7a7d85;
}
.guidesbox img {
  border-radius: 4px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
}
.guidesbox2 {
  background: url("../images/bg1.png") no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 400px;
}
.guidesbox2 .guidesheading {
  position: absolute;
  top: 50%;
  max-width: 650px;
  left: 5%;
  transform: translateY(-50%);
}
.guidesbox2 .guidesheading h1 {
  color: #fff;
  padding-bottom: 40px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
}
.guidesbox2 .guidesheading .btn-outline-light {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
/*Footer*/
footer {
  background-color: #fff;
  border-top: 1px solid #e4e5e7;
  position: relative;
  padding-top: 64px;
}
footer h1 {
  color: #404145;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}
footer ul li {
  color: #7a7d85;
  padding-bottom: 10px;
  font-size: 16px;
}
footer ul li a {
  color: #7a7d85;
}
footer ul li a:hover {
  color: #7a7d85;
  text-decoration: underline;
}
footer ul li span {
  display: block;
  color: #b5b6ba;
  font-size: 14px;
}
.bottom_footer {
  border-top: 1px solid #e4e5e7;
  padding-top: 20px;
background: #1a1515;
padding-bottom: 20px;
  margin-top: 30px;
}
.bottom_footer p {
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}
.bottom_footer p img {
  display: inline-block;
}
.bottom_footer p span {
  display: inline-block;
  position: relative;
  margin-left: 24px;
  top: 5px;
}
.bottom_footer ol {
  float: right;
  margin-top: 7px;
}
.bottom_footer ol li {
  display: inline-block;
  margin: 5px 10px;
  font-size: 18px;
}
.bottom_footer ol li a {
  color: #fff;
}
.bottom_footer ol li span {
  font-size: 14px;
}
.sticky {
position: fixed;
transition: 0.5s;
width: 100%;
}
.sticky .header-top {
background: #fff;
}
.sticky .navigation .navbar-nav .nav-item .nav-link {
color: #404145;
}
.sticky .navigation .navbar-nav .nav-item .nav-link.join-btn {
border-color: #404145;
}
.sticky .navigation .navbar-nav .nav-item .nav-link.join-btn:hover {
color: #bc1f30;
border-color: #bc1f30;
}
.sticky .header-form {
display: block;
}
.sticky .header-bottom {
transform: rotateX(0deg);
}
.footerlinks {
margin-top: 10px;
}
.footerlinks li {
display: inline-block;
margin: 5px;
font-size: 14px;
}
.footerlinks li a {
color: #fff;
}
.appbtn {
text-align: right;
}
.appbtn a {
  width: 150px;
  display: inline-block;
}
.appbtn a img {
border: 1px solid #9b9b9b;
border-radius: 5px;
}
footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.img-fluid.moblog {
  height: 0;
  opacity: 0;
transition: 0.5s;
}
.sticky .img-fluid.dexlog {
  height: 0;
  opacity: 0;
transition: 0.5s;
}
.sticky .img-fluid.moblog {
opacity: 1;
height: auto;
}
.sticky .navbar-brand {
  max-width: 50px;
}
.hoverbox {
opacity: 0;
width: 30px;
height: 30px;
transition: 0.5s;
border-radius: 100%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background: rgba(255,255,255,0.50);
}
#inspired_wrepp.trandingwrepp .position-relative:hover .hoverbox {
width: 100%;
height: 100%;
border-radius: 0px;
opacity: 1;
}
#inspired_wrepp.trandingwrepp .position-relative:hover img {
transform: none;
}
.apbtn a {
  width: 180px;
  display: inline-block;
  margin-bottom: 20px;
}
@media(max-width:991.98px){
.navbar-light .navbar-toggler {
  display: none;
}	
.dl-menuwrapper {
display: block;
}	
.sticky .header-bottom {
  transform: rotateX(0deg);
  display: none;
}	
.banner_content h1 {
  font-size: 35px;
line-height: 45px;
}	
#fingertips_wrepp .text-box h2 {
font-size: 25px;
}
#fingertips_wrepp .text-inner h3 {
font-size: 15px;
}
#fingertips_wrepp .text-inner p {
font-size: 14px;
}
#solution_wrepp p {
  font-size: 15px;
  line-height: 22px;
}	
#solution_wrepp ul li {
font-size: 15px;
}
#testimonial_wrepp .text-content blockquote {
  font-size: 20px;
  line-height: 30px;
}
.incredible_box h1 {
  font-size: 25px;
  line-height: 30px;
}	
.guidesbox2 .guidesheading h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}	
footer .col {
  flex-grow: inherit;
  max-width: 33%;
  flex-basis: inherit;
  margin-bottom: 15px;
}	
}
@media(max-width:767.98px){
.header-form {
  width: 70%;
}	
.appbtn {
  text-align: center;
}	
#fingertips_wrepp {
  padding: 65px 20px;
  text-align: center;
}	
#fingertips_wrepp .text-box {
  max-width: inherit;
  width: 100%;
}
#fingertips_wrepp .text-inner h3 {
  display: block;
  align-items: center;
}		
#explore_wrepp h1 {
text-align: center;
}	
#explore_wrepp {
  padding: 60px 0px;
  text-align: center;
}	
#explore_wrepp .col-2 {
  flex: inherit;
  max-width: 33.33%;
}	
#solution_wrepp {
  padding: 60px 0px;
  text-align: center;
}
#testimonial_wrepp {
  text-align: center;
}	
.incredible_box .icridimg {
display: none;
}	
.incredible_box {
  padding: 40px 20px;
  margin-top: 0;
}	
.guides_box {
  margin-bottom: 15px;
  text-align: center;
}	
.guidesbox2 {
  min-height: 240px;
margin-top: 0;
}	
.bottom_footer {
  text-align: center;
}	
.bottom_footer ol {
  float: none;
  margin-top: 15px;
}	
.banner_content {
  left: 15px;
  max-width: inherit;
  width: auto;
  right: 10px;
}	
#banner_wrepp .carousel-item {
  min-height: 480px;
  height: auto;
}	
.media {
  display: block;
  text-align: center;
}	
#trusted_wrepp .media ul li {
  margin-right: 25px;
display: inline-block;
}
#trusted_wrepp .media ul {
  display: block;
  padding-left: 0;
}	
.guidesbox2 .guidesheading {
  max-width: inherit;
  left: 5%;
  right: 5%;
}	
.guidesbox2 .guidesheading h1 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}	
#solution_wrepp .btn-success {
  margin: 0 0 35px 0;
}	
}
@media(max-width:575.98px){
footer .col {
  max-width: 50%;
}	
.tag ul {
  display: block;
  text-align: center;
  margin-left: 0;
}	
.tag ul li {
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 10px;
}	
.banner_content h1 {
  font-size: 25px;
  line-height: 30px;
}	
.banner_content form .form-control {
  font-size: 12px;
  height: 40px;
}	
.banner_content form .btn-default {
  font-size: 14px;
  padding: 5px 24px;
  height: 40px;
  font-weight: bold;
}		
#banner_wrepp .carousel-item .text-inner p {
  color: #1a1515;
  display: inline-block;
  padding: 32px;
  font-size: 14px;
}
#banner_wrepp .carousel-item .text-inner p {
  padding: 14px;
  font-size: 14px;
}	
.guides_heading h1 {
  font-size: 20px;
}	
.guides_heading h1 span {
  margin-top: 6px;
  font-size: 12px;
}	
#testimonial_wrepp .text-content blockquote {
  font-size: 17px;
  line-height: 30px;
}	
#explore_wrepp .col-2 {
  flex: inherit;
  max-width: 50%;
}	
}
@media(max-width:480.98px){
.header-form {
  width: 60%;
}	
.header-form form .form-control {
font-size: 12px;
}	
footer .col {
  max-width: 100%;
}	
}